# Dependencies
node_modules

# Compilation error logs
yarn-error.log

# Coverage and Mutation testing reports
reports/

# Mutation testing sandbox
.stryker-tmp/

# Private repo token for coveralls authentication
.coveralls.yml
