# Dependencies
node_modules

# Compilation error logs
yarn-error.log

# Mutation testing reports
reports/mutation/

# Mutation testing sandbox
.stryker-tmp/

# Private repo token for coveralls authentication
.coveralls.yml
