body {
    overflow: hidden;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
}

.info-box {
    margin-left: 50px
}

.rule-status {
    margin: 0 10px;
    width: 50px;
    display: inline-block
}
