body {
    overflow: hidden;
    margin: 0;
}

canvas {
    position: absolute;
    top: 0;
}

.rule-status {
    color: green;
    font-weight: bold;
    margin: 0 10px;
    width: 50px;
    display: inline-block
}
